@use "../../scss/colors" as *;

.input {
    background-color: darken($color-primary, 50%);
    color: $color-primary;
    border: none;
    font-size: 1.5rem;
    padding: 0.25em 0.5em;
    border-radius: 1000rem;
    font-weight: bold;
    text-align: center;
    width: 100%;

    &:focus {
        outline: none;
    }
}